<div>
  
    <footer id="footer" class="footer light-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <img style="" src="assets/img/logo.png" alt="">
            </a>
            <p>A FAMP é uma empresa composta por técnicos qualificados e certificados, com atuação em diversas áreas
              técnicas. Nosso foco é compreender profundamente as necessidades dos nossos clientes, oferecendo soluções
              personalizadas que garantam qualidade, eficiência e plena satisfação.</p>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Links Úteis</h4>
            <ul>
              <li><a href="#">Página Inicial</a></li>
              <li><a href="#">Sobre Nós</a></li>
              <li><a href="#">Serviços</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Nossos Serviços</h4>
            <ul>
              <li><a href="#">Informação e Comunicação</a></li>
              <li><a href="#">Construção Civil e Saneamento</a></li>
              <li><a href="#">Comércio</a></li>
              <li><a href="#">Assessoria</a></li>
              <li><a href="#">Auditoria</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Fale Conosco</h4>
            <p>centralidade do mussungue zona 3</p>
            <p>Edificio 21-1, 7º Andar, Apto 701</p>
            <p>Luanda - Angola</p>
            <p class="mt-4"><strong>Telefone:</strong> <span>+244 925 904 457 / +244 922 164 760 / +244 931 823 862</span></p>
            <p><strong>E-mail:</strong> <span>geral@famp.com</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container copyright text-center">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Famp</strong> <span>Todos os direitos reservados</span>
      </p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Desenvolvido por <a href="">JLSystem</a>
      </div>
    </div>

  </footer>

  <!-- Botão do WhatsApp com efeito piscando -->
  <a href="https://wa.me/244925904457" class="whatsapp-button" target="_blank" title="Fale conosco no WhatsApp">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/whatsapp.svg" alt="WhatsApp">
  </a>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i>oii</a>

  <!-- Preloader 
  <div id="preloader"></div>
  -->
</div>